<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xsi:schemaLocation="
           http://www.springframework.org/schema/beans
           http://www.springframework.org/schema/beans/spring-beans-3.1.xsd
           http://www.springframework.org/schema/context
           http://www.springframework.org/schema/context/spring-context-3.1.xsd
           http://www.springframework.org/schema/aop
           http://www.springframework.org/schema/aop/spring-aop-3.1.xsd"
       default-autowire="byName">

    <!--<bean class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">-->
        <!--<property name="locations">-->
            <!--<list>-->
                <!--<value>classpath:important.properties</value>-->
                <!--<value>classpath:config.properties</value>-->
                <!--<value>classpath*:**/*.properties</value>-->
                <!--&lt;!&ndash;	<value>classpath:mq/mq.properties</value>&ndash;&gt;-->
            <!--</list>-->
        <!--</property>-->
    <!--</bean>-->

    <!--<bean id="appContext" class="com.jd.o2o.commons.domain.context.AppContext">-->
    <!--<property name="source" value="${josl.appCode}"/>-->
    <!--</bean>-->

    <!--<aop:aspectj-autoproxy proxy-target-class="true" expose-proxy="true"/>-->
    <!--<context:component-scan base-package="com.jd.o2o.orderdiscount.dao.impl"/>-->

    <!--&lt;!&ndash; aop start &ndash;&gt;-->
    <!--<bean id="logAspect" class="com.jd.o2o.orderdiscount.common.util.logger.LogRequestAspect"></bean>-->
    <!--<aop:config>-->
        <!--<aop:aspect ref="logAspect">-->
            <!--<aop:around method="around"-->
                        <!--pointcut="-->
                           <!--execution (* com.jd.o2o.orderdiscount.api..*.*(..))-->
                        <!--|| execution (* com.jd.o2o.orderdiscount.innerapi..*.*(..))-->
                        <!--|| execution (* com.jd.o2o.orderdiscount..*.*(..)) "/>-->
        <!--</aop:aspect>-->
    <!--</aop:config>-->
    <!--&lt;!&ndash; aop end &ndash;&gt;-->
    <!--&lt;!&ndash;app privilege &ndash;&gt;-->

    <!--<import resource="spring-config-beans.xml"/>-->
    <!--<import resource="spring-config-executor.xml"/>-->
   <!-- <import resource="spring-config-cache.xml"/>-->
    <!--<import resource="spring-config-jsf-server.xml"/>-->
    <!--<import resource="spring-config-jsf-client.xml"/>-->
    <!--<import resource="classpath*:spring-config-file-upload.xml"/>-->
    <import resource="spring-config-datasource-dbcp.xml"/>
    <!--<import resource="spring-config-ump.xml"/>-->
    <!--<import resource="rpc/spring-config-rpc.xml"/>-->
    <!--<import resource="spring-config-approval.xml"/>-->
    <!--<import resource="mq/spring-config-jmq-producer.xml"/>-->
    <!--<import resource="mq/spring-consumer.xml"/>-->
    <!--<import resource="spring-config-zk.xml"/>-->
    <import resource="spring-config-datasource-dbcp-dw.xml"/>
    <!--<import resource="spring-config-timer.xml"/>-->
    <!--<import resource="rpc/spring-jsf-config.xml"/>-->

    <bean id="limitStationDaoImpl" class="com.jd.o2o.orderdiscount.dao.impl.LimitStationDaoImpl"></bean>

    <!--<bean id="IncrementBuildCacheDao" class="com.jd.o2o.orderdiscount.incrementcache.dao.impl.IncrementBuildCacheDaoImp"></bean>-->
    <!--<bean id="infoDao" class="com.jd.o2o.orderdiscount.dao.impl.InfoDaoImpl"></bean>-->
    <!--<bean id="newPromotionTaskDaoImpl" class="com.jd.o2o.orderdiscount.incrementcache.dao.impl.NewPromotionTaskDaoImpl"></bean>-->
    <!--<bean id="manJianCacheServiceImpl" class="com.jd.o2o.orderdiscount.incrementcache.manager.task.refresh.ManJianCacheServiceImpl"></bean>-->
    <!--<bean id="kunBangCacheServiceImpl" class="com.jd.o2o.orderdiscount.incrementcache.manager.task.refresh.KunBangCacheServiceImpl"></bean>-->
    <!--<bean id="manZengCacheServiceImpl" class="com.jd.o2o.orderdiscount.incrementcache.manager.task.refresh.ManZengCacheServiceImpl"></bean>-->
    <!--<bean id="taoZhuangCacheServiceImpl" class="com.jd.o2o.orderdiscount.incrementcache.manager.task.refresh.TaoZhuangCacheServiceImpl"></bean>-->
    <!--<bean id="taskCacheManageServiceImpl" class="com.jd.o2o.orderdiscount.incrementcache.manager.task.impl.TaskCacheManageServiceImpl"></bean>-->
    <!--<bean id="stationRefreshCacheServiceImpl" class="com.jd.o2o.orderdiscount.incrementcache.manager.task.refresh.StationRefreshCacheServiceImpl"></bean>-->
    <!--<bean id="jimClient" class="com.jd.jim.cli.compat.ReloadableJimClientFactoryBean">-->
        <!--<property name="configId" value="redis.local"/>-->
        <!--<property name="token" value="1417623612434"/>-->
    <!--</bean>-->
</beans>